@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
}

.container{
    @apply mx-auto;
}

body {
    font-family: 'Kreon', serif;
}

@layer components {
    .dugme{
        @apply w-full bg-rose text-black hover:bg-blue duration-200 py-3 rounded-xl transition hover:border
    }
}

@layer utilities {
    .fade-out {
        opacity: 0;
        transition: opacity 0.7s ease;
    }

    .fade-in {
        opacity: 1;
        transition: opacity 0.7s ease;
    }

    .text-stroke {
        -webkit-text-stroke: 1px black; /* debljina i boja obrisa */
    }
}