@import "tailwindcss";

*{
    box-sizing: border-box;
}

.container{
    @apply mx-auto;
}

body {
    font-family: 'Kreon', serif;
}

@theme{
    --font-primary: "Kreon", "serif";
    --font-secondary: "Pacifico" , "cursive"; 
    --color-rose: #F7B3C9;
    --color-blue: #7FCECD;
}