<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Naj...Naj</title>
    <link
      rel="stylesheet"
      href="/static/css/output.css"
    />
    <link href="https://fonts.googleapis.com/css2?family=Kreon:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class="text-center bg-blue">
        <h1 class="text-5xl font-secondary">Mitro</h1>
      </div>
    </header>
    <main>{% block cotent %}{% endblock %}</main>
    <footer></footer>
  </body>
</html>
