{% extends 'base.html' %}
{% block content %}
<!-- Video sekcija -->
<section class="relative w-full bg-black h-[70vh] xl:h-[90vh] overflow-hidden">
  <video id="videoPlayer" class="w-full h-full object-cover fade-in" autoplay muted playsinline></video>
  <a href="{{ url_for('meni')}}">
    <button class="cursor-pointer absolute bottom-6 left-1/2 transform -translate-x-1/2 bg-blue hover:bg-blue-600 text-white font-semibold py-3 px-6 rounded-lg shadow-md transition duration-300 text-2xl lg:text-3xl font-secondary">
    Pogledaj meni
    </button>
  </a>
</section>

<!-- Sekcija za nov proizvod -->
<section class="px-4 mb-2">
  <div class="container mx-auto mt-8 mb-12 flex flex-col lg:flex-row justify-center items-center gap-8 lg:gap-16">
    
    <!-- Tekstualni naslov -->
    <div class="text-center font-bold text-3xl md:text-4xl text-blue lg:w-1/2 lg:h-auto">
      <div class="flex lg:flex-col justify-center items-center gap-8 text-red-600 mb-6 p-2 rounded-2xl">
        <div class="flex items-center gap-3">
            <div class="bg-amber-300 rounded-full text-2xl px-3 py-2 inline-block">Novo</div>
            <h1 class="text-blue font-bold font-secondary text-4xl lg:text-5xl xl:text-6xl">Letnji hit</h1>
        </div>
        <!-- Sakriveni deo -->
        <div class="hidden lg:block mt-8 flex flex-wrap justify-center items-center gap-6 md:gap-14 text-lg md:text-2xl lg:w-1/2 lg:mx-auto">
            <div class="bg-red-300 px-6 md:px-8 py-6 md:py-10 rounded-full text-center min-w-[120px]">JAGODE</div>
            <div class="text-3xl font-bold">+</div>
            <div class="bg-gray-200 px-6 md:px-8 py-6 md:py-10 rounded-full text-center min-w-[120px]">ŠLAG</div>
            <div class="text-3xl font-bold">+</div>
            <div class="bg-orange-800 text-white px-8 md:px-10 py-6 md:py-8 rounded-full text-center min-w-[120px]">ČOKOLADA</div>
        </div>
      </div>
    </div>

    <!-- Slika -->
    <div class="w-full lg:w-1/2">
      <img src="/static/image/jagode.jpg" alt="jagode" class="w-full h-auto max-h-[500px] object-cover rounded-xl shadow-lg">
    </div>
  </div>

   <!-- Deo sa kruzicima -->
  <div class="mt-8 flex flex-wrap justify-center items-center gap-6 md:gap-14 text-lg md:text-2xl lg:w-1/2 lg:mx-auto lg:hidden">
    <div class="bg-red-300 px-6 md:px-8 py-6 md:py-10 rounded-full text-center min-w-[120px]">JAGODE</div>
    <div class="text-3xl font-bold">+</div>
    <div class="bg-gray-200 px-6 md:px-8 py-6 md:py-10 rounded-full text-center min-w-[120px]">ŠLAG</div>
    <div class="text-3xl font-bold">+</div>
    <div class="bg-orange-800 text-white px-8 md:px-10 py-6 md:py-8 rounded-full text-center min-w-[120px]">ČOKOLADA</div>
  </div>
</section>

<!-- Linija -->
<div class="relative h-32 mt-12 lg:mt-20">
     <svg
    class="absolute top-5 h-12 w-full transform -scale-x-100"
    viewBox="0 0 1440 320"
    preserveAspectRatio="none"
  >
    <path
      fill="#F7B3C9"
      fill
      fill-opacity="1"
      d="M0,160 C480,320 960,0 1440,160 L1440,320 L0,320 Z"
    ></path>
  </svg>
   <svg
    class="absolute top-16 h-12 w-full transform -scale-y-100"
    viewBox="0 0 1440 320"
    preserveAspectRatio="none"
  >
    <path
      fill="#7FCECD"
      fill-opacity="1"
      d="M0,160 C480,320 960,0 1440,160 L1440,320 L0,320 Z"
    ></path>
  </svg>
  <div class="absolute left-1/2 -translate-x-1/2 -translate-y-1/2 top-16">
    <img src="/static/image/najnajlogobezpoz 1.png" alt="Logo" class="w-40 h-30 md:w-50 md:h-40">
  </div>
</div>

<!-- Sekcija za popularan proizvod -->
<section class="py-8 px-4">
  <div class="container mx-auto flex flex-col md:flex-row gap-6 overflow-hidden justify-center items-center">

    <!-- Slika + Popularno -->
    <div class="relative w-60 md:w-1/2 lg:w-[400px] ">
      <img src="/static/image/kinder.PNG" alt="Kinder wafl" class="w-full h-auto object-cover rounded-lg">

      <div class="absolute top-2 md:top-30 md:left-0 -left-16 flex justify-center items-center 
                  bg-amber-300 text-black 
                  rounded-full w-30 h-30 md:w-40 md:h-40 
                  shadow-lg animate-pulse
                  text-sm md:text-lg font-semibold font-secondary">
        POPULARNO
      </div>
    </div>

    <!-- Tekst pored slike -->
    <div class="flex flex-col space-y-2 items-center justify-center text-center md:items-start md:text-left md:w-1/2">
      <div class="flex flex-row gap-8 md:gap-6 font-bold justify-center items-center self-center mt-6">
        <h1 class="text-black text-4xl lg:text-5xl">K</h1>
        <h1 class="text-red-500 text-4xl lg:text-5xl">I</h1>
        <h1 class="text-red-500 text-4xl lg:text-5xl">N</h1>
        <h1 class="text-red-500 text-4xl lg:text-5xl">D</h1>
        <h1 class="text-red-500 text-4xl lg:text-5xl">E</h1>
        <h1 class="text-red-500 text-4xl lg:text-5xl">R</h1>
      </div>
      <h1 class="text-3xl lg:text-4xl font-semibold self-center mb-10 lg:mb-16">bubble waffle</h1>
      <div>
        <ul class="flex flex-wrap justify-center gap-6 text-gray-700 mt-6 px-4 text-2xl lg:text-4xl font-secondary">
          <li class="flex items-center justify-center gap-1">
            <img src="/static/image/buenokrem.png" alt="Kinder krem" class="w-12 h-12 object-contain">
            Kinder krem
          </li>
          <li class="flex items-center gap-1"><span>🍮</span> Puding od vanile</li>
          <li class="flex items-center gap-1"><span>🌰</span> Lesnik</li>
          <li class="flex items-center gap-1"><span>🍫</span> Kinder Bueno</li>
          <li class="flex items-center gap-1"><span>🍦</span> Slag</li>
        </ul>
      </div>
    </div>
  </div>
</section>



<!-- Linija -->
<div class="relative h-32 mt-12 lg:mt-20">
     <svg
    class="absolute top-5 h-12 w-full transform -scale-x-100"
    viewBox="0 0 1440 320"
    preserveAspectRatio="none"
  >
    <path
      fill="#F7B3C9"
      fill
      fill-opacity="1"
      d="M0,160 C480,320 960,0 1440,160 L1440,320 L0,320 Z"
    ></path>
  </svg>
   <svg
    class="absolute top-16 h-12 w-full transform -scale-y-100"
    viewBox="0 0 1440 320"
    preserveAspectRatio="none"
  >
    <path
      fill="#7FCECD"
      fill-opacity="1"
      d="M0,160 C480,320 960,0 1440,160 L1440,320 L0,320 Z"
    ></path>
  </svg>
  <div class="absolute left-1/2 -translate-x-1/2 -translate-y-1/2 top-16">
    <img src="/static/image/najnajlogobezpoz 1.png" alt="Logo" class="w-40 h-30 md:w-50 md:h-40">
  </div>
</div>

<!-- Sekcija sa karticama za proizvode -->
<section>
  <div class="font-secondary container mx-auto flex flex-row gap-4 justify-center text-xl font-bold my-10 lg:my-16 xl:my-28 flex-wrap md:gap-7 md:text-2xl  lg:gap-12 lg:text-3xl xl:gap-16 xl:text-5xl">
    <div class="flex items-center justify-center rounded-full bg-rose p-2 md:p-3 lg:p-4 xl:p-6">P</div>
    <div class="flex items-center justify-center rounded-full bg-blue p-2 md:p-3 lg:p-4 xl:p-6">R</div>
    <div class="flex items-center justify-center rounded-full bg-rose p-2 md:p-3 lg:p-4 xl:p-6">O</div>
    <div class="flex items-center justify-center rounded-full bg-blue p-2 md:p-3 lg:p-4 xl:p-6">I</div>
    <div class="flex items-center justify-center rounded-full bg-rose p-2 md:p-3 lg:p-4 xl:p-6">Z</div>
    <div class="flex items-center justify-center rounded-full bg-blue p-2 md:p-3 lg:p-4 xl:p-6">V</div>
    <div class="flex items-center justify-center rounded-full bg-rose p-2 md:p-3 lg:p-4 xl:p-6">O</div>
    <div class="flex items-center justify-center rounded-full bg-blue p-2 md:p-3 lg:p-4 xl:p-6">D</div>
    <div class="flex items-center justify-center rounded-full bg-rose p-2 md:p-3 lg:p-4 xl:p-6">I</div>
  </div>
  <div class="container mx-auto p-4 grid grid-cols-2 md:grid-cols-3 gap-4 lg:gap-6 xl:mt-8">
  <!-- Kartica 1 -->
  <div class="bg-blue rounded-xl shadow-md overflow-hidden flex flex-col items-center text-center p-4">
    <div class="w-full h-40 overflow-hidden rounded-md xl:h-80 lg:h-60">
      <img src="{{ url_for('static', filename='/image/slatke.jpg') }}" alt="Slatke palačinke" class="object-cover w-full h-full">
    </div>
    <h1 class="text-lg font-semibold mt-4 xl:mb-4 mb-2 lg:text-xl xl:text-2xl">Slatke palačinke</h1>
    <button  class="bg-blue-500 cursor-pointer hover:bg-blue-600 text-white px-4 py-2 rounded xl:text-xl xl:px-6 xl:py-4">
      <a href="{{url_for('meni')}}#slatke" class="pogledaj">Pogledaj</a>
    </button>
  </div>
  <!-- Kartica 2 -->
  <div class="bg-rose rounded-xl shadow-md overflow-hidden flex flex-col items-center text-center p-4">
    <div class="w-full h-40 overflow-hidden rounded-md xl:h-80 lg:h-60">
      <img src="{{ url_for('static', filename='/image/slane.jpg') }}" alt="Slane palačinke" class="object-cover w-full h-full">
    </div>
    <h1 class="text-lg font-semibold mt-4 xl:mb-4 mb-2 lg:text-xl xl:text-2xl">Slane palačinke</h1>
    <button class="bg-blue-500 cursor-pointer hover:bg-blue-600 text-white px-4 py-2 rounded xl:text-xl xl:px-6 xl:py-4">
      <a href="{{url_for('meni')}}#slane" class="pogledaj">Pogledaj</a>
    </button>
  </div>
  <!-- Kartica 3 -->
   <div class="bg-rose lg:bg-blue rounded-xl shadow-md overflow-hidden flex flex-col items-center text-center p-4">
    <div class="w-full h-40 overflow-hidden rounded-md xl:h-80 lg:h-60">
      <img src="{{url_for('static', filename='/image/wafli.jpg') }}" alt="Wafli" class="object-cover w-full h-full">
    </div>
    <h1 class="text-lg font-semibold mt-4 xl:mb-4 mb-2 lg:text-xl xl:text-2xl">Bubble waffli</h1>
    <button class="bg-blue-500 cursor-pointer hover:bg-blue-600 text-white px-4 py-2 rounded xl:text-xl xl:px-6 xl:py-4">
      <a href="{{url_for('meni')}}#waffle" class="pogledaj">Pogledaj</a>
    </button>
  </div>
  <!-- Kartica 4 -->
   <div class="bg-blue lg:bg-rose rounded-xl shadow-md overflow-hidden flex flex-col items-center text-center p-4">
    <div class="w-full h-40 overflow-hidden rounded-md xl:h-80 lg:h-60">
      <img src="{{ url_for('static', filename='/image/hotdog.png') }}" alt="Hot dog" class="object-cover w-full h-full">
    </div>
    <h1 class="text-lg font-semibold mt-4 xl:mb-4 mb-2 lg:text-xl xl:text-2xl">Sendvici i hotdog</h1>
    <button class="bg-blue-500 cursor-pointer hover:bg-blue-600 text-white px-4 py-2 rounded xl:text-xl xl:px-6 xl:py-4">
      <a href="{{url_for('meni')}}#sendvici" class="pogledaj">Pogledaj</a>
    </button>
  </div>
  <!-- Kartica 5 -->
  <div class="bg-blue rounded-xl shadow-md overflow-hidden flex flex-col items-center text-center p-4">
    <div class="w-full h-40 overflow-hidden rounded-md xl:h-80 lg:h-60">
      <img src="{{ url_for('static', filename='/image/bubblemilk.png') }}" alt="Bubble tea" class="object-cover w-full h-full">
    </div>
    <h1 class="text-lg font-semibold mt-4 xl:mb-4 mb-2 lg:text-xl xl:text-2xl">Bubble tea</h1>
    <button class="bg-blue-500 cursor-pointer hover:bg-blue-600 text-white px-4 py-2 rounded xl:text-xl xl:px-6 xl:py-4">
      <a href="{{url_for('meni')}}#tea" class="pogledaj">Pogledaj</a>
    </button>
  </div>
  <!-- Kartica 6 -->
  <div class="bg-rose rounded-xl shadow-md overflow-hidden flex flex-col items-center text-center p-4">
    <div class="w-full h-40 overflow-hidden rounded-md xl:h-80 lg:h-60">
      <img src="{{ url_for('static', filename='/image/slushy.jpg') }}" alt="Slushy" class="object-cover w-full h-full">
    </div>
    <h1 class="text-lg font-semibold mt-4 xl:mb-4 mb-2 lg:text-xl xl:text-2xl">Hladni napici</h1>
    <button class="bg-blue-500 cursor-pointer hover:bg-blue-600 text-white px-4 py-2 rounded xl:text-xl xl:px-6 xl:py-4">
      <a href="{{url_for('meni')}}#napici" class="pogledaj">Pogledaj</a>
    </button>
  </div> 

</div>
</section>

<!-- Linija -->
 <div class="relative h-32 mt-12">
     <svg
    class="absolute top-5 h-12 w-full transform -scale-x-100"
    viewBox="0 0 1440 320"
    preserveAspectRatio="none"
  >
    <path
      fill="#F7B3C9"
      fill
      fill-opacity="1"
      d="M0,160 C480,320 960,0 1440,160 L1440,320 L0,320 Z"
    ></path>
  </svg>
   <svg
    class="absolute top-16 h-12 w-full transform -scale-y-100"
    viewBox="0 0 1440 320"
    preserveAspectRatio="none"
  >
    <path
      fill="#7FCECD"
      fill-opacity="1"
      d="M0,160 C480,320 960,0 1440,160 L1440,320 L0,320 Z"
    ></path>
  </svg>
  <div class="absolute left-1/2 -translate-x-1/2 -translate-y-1/2 top-16">
    <img src="/static/image/najnajlogobezpoz 1.png" alt="Logo" class="w-40 h-30 md:w-50 md:h-40">
  </div>
</div>

<!-- Akcije -->
<section id="akcije" class="container py-12 px-4">
  <div class="relative text-bold text-stroke text-6xl text-center mb-12 lg:mt-12">
    <h3 class="text-blue">NAJ <span class="text-rose">NAJ</span></h3>
    <h3 class="text-white font-secondary tracking-widest">akcije</h3>
    <div class="absolute left-10 lg:left-30  top-0">
      <i class="ri-bard-fill text-red-700 text-5xl lg:text-8xl"></i>
    </div>
    <div class="absolute right-10 lg:right-30 top-0 transform rotate-y-180">
      <i class="ri-bard-fill text-red-700 text-5xl lg:text-8xl"></i>
    </div>
  </div>
  <!-- AKCIJE KARTICE -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 md:gap-12 lg:gap-16 items-stretch text-center p-6 md:p-12">
  <!-- Kartica -->
  <div class="flex flex-col justify-between items-center gap-4 p-8 bg-blue border-2 border-black rounded-xl min-h-[300px] h-full">
    <div class="flex flex-row items-center justify-center gap-4">
      <div class="w-48 h-24 md:w-40 md:h-28 lg:w-52 lg:h-32 overflow-hidden rounded-xl">
        <img src="/static/image/slatka.jpg" alt="slatka" class="object-cover w-full h-full">
      </div>
      <div class="text-5xl flex items-center justify-center w-16 h-16">
        <p class="text-rose text-stroke">+</p>
      </div>
      <img src="/static/image/pepsi.png" alt="pepsi" class="w-28 h-24 lg:h-32 object-contain">
    </div>
    <div class="flex flex-row gap-2 items-center justify-center flex-wrap">
      <h5 class="text-xl leading-tight">Palačinka Eurokrem Plazma</h5>
      <p class="text-2xl">+</p>
      <h5 class="text-xl leading-tight">Pepsi limenka 0,33l</h5>
      <p class="text-2xl">=</p>
      <p class="text-3xl font-secondary text-red-500 text-stroke">promo cena</p>
    </div>
  </div>

  <!-- 2 -->
  <div class="flex flex-col justify-between items-center gap-4 p-8 bg-rose border-2 border-black rounded-xl min-h-[300px] h-full">
    <div class="flex flex-row items-center justify-center gap-4">
      <div class="w-48 h-36 md:w-40 md:h-36 lg:w-52 overflow-hidden rounded-xl">
        <img src="/static/image/hotdog.jpg" alt="hotdog" class="object-cover w-full h-full">
      </div>
      <div class="text-5xl flex items-center justify-center w-16 h-16">
        <p class="text-rose text-stroke">+</p>
      </div>
      <img src="/static/image/limunada.png" alt="limunada" class="w-28 h-24 lg:h-32 object-contain">
    </div>
    <div class="flex flex-row gap-2 items-center justify-center flex-wrap">
      <h5 class="text-xl leading-tight">NajNaj Hot Dog</h5>
      <p class="text-2xl">+</p>
      <h5 class="text-xl leading-tight">Limunada 0,5l</h5>
      <p class="text-2xl">=</p>
      <p class="text-3xl font-secondary text-red-500 text-stroke">promo cena</p>
    </div>
  </div>

  <!-- 3 -->
  <div class="flex flex-col justify-between items-center gap-4 p-8 bg-rose border-2 border-black rounded-xl min-h-[300px] h-full">
    <div class="flex flex-row items-center justify-center gap-4">
      <div class="w-48 h-24 md:w-40 md:h-28 lg:w-52 lg:h-32 overflow-hidden rounded-xl">
        <img src="/static/image/slana.jpg" alt="slana" class="object-cover w-full h-full">
      </div>
      <div class="text-5xl flex items-center justify-center w-16 h-16">
        <p class="text-rose text-stroke">+</p>
      </div>
      <img src="/static/image/guarana.png" alt="guarana" class="w-28 h-24 lg:h-32 object-contain">
    </div>
    <div class="flex flex-row gap-2 items-center justify-center flex-wrap">
      <h5 class="text-xl leading-tight">Šunka Kačkavalj Pavlaka</h5>
      <p class="text-2xl">+</p>
      <h5 class="text-xl leading-tight">Guarana 0,33l</h5>
      <p class="text-2xl">=</p>
      <p class="text-3xl font-secondary text-red-500 text-stroke">promo cena</p>
    </div>
  </div>

  <!-- 4 -->
  <div class="flex flex-col justify-between items-center gap-4 p-8 bg-blue border-2 border-black rounded-xl min-h-[300px] h-full">
    <div class="flex flex-row items-center justify-center gap-4">
      <div class="w-48 h-24 md:w-40 md:h-28 lg:w-52 lg:h-32 overflow-hidden rounded-xl">
        <img src="/static/image/fries.png" alt="pomfrit" class="object-fill w-full h-full">
      </div>
      <div class="text-5xl flex items-center justify-center w-16 h-16">
        <p class="text-rose text-stroke">+</p>
      </div>
      <img src="/static/image/icetea.png" alt="ledeni čaj" class="w-42 h-42 lg:w-50 lg:h-50 object-contain">
    </div>
    <div class="flex flex-row gap-2 items-center justify-center flex-wrap">
      <h5 class="text-xl leading-tight">Pomfrit 200g</h5>
      <p class="text-2xl">+</p>
      <h5 class="text-xl leading-tight">Limunada sa ukusom 0,5l</h5>
      <p class="text-2xl">=</p>
      <p class="text-3xl font-secondary text-red-500 text-stroke">promo cena</p>
    </div>
  </div>
</section>



{% endblock %}
