{% extends "base.html" %} 
{% block content %}

<section id="slatke" class="sekcija md:container md:mx-auto mx-8 ">
    <div class="flex flex-col">
        <div class="flex justify-center text-center flex-col space-y-0 py-12"><!--MAIN TEXT-->
            <span class="font-bold text-4xl text-blue text-stroke ">NAJ <span class="font-bold text-4xl text-rose">NAJ</span></span>
            <span class="font-bold text-gray-500 text-7xl text-stroke">SLATKE</span>
            <span class="font-bold text-4xl text-rose text-stroke ">PALAČINKE</span>
        </div>
        <!--PONUDA-->
        <div class="flex flex-row justify-between border-t border-black py-4 md:py-8 ">
            <p class="text-2xl md:text-3xl font-title">Džem(<span class="text-orange-500">kajsija, </span><span class="text-purple-800">šljiva, </span><span class="text-red-500">jagoda</span>)</p>
            <p class="text-2xl font-bold">190</p>
        </div>
        <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
            <p class="text-2xl md:text-3xl font-title">Eurokrem</p>
            <p class="text-2xl font-bold">220</p>
        </div>
        <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
            <p class="text-2xl md:text-3xl font-title">Eurokrem <span class="text-orange-300">Plazma</span></p>
            <p class="text-2xl font-bold">260</p>
        </div>
        <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
            <p class="text-2xl md:text-3xl font-title">Eurokrem Orasi</p>
            <p class="text-2xl font-bold">280</p>
        </div>
        <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
            <p class="text-2xl md:text-3xl font-title">Eurokrem <span class="text-amber-900">Lešnik</span></p>
            <p class="text-2xl font-bold">290</p>
        </div>  
        <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
            <p class="text-2xl md:text-3xl font-title">Eurokrem Kikiriki</p>
            <p class="text-2xl font-bold">260</p>
        </div>
        <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
            <p class="text-2xl md:text-3xl font-title">Eurokrem Banana</p>
            <p class="text-2xl font-bold">280</p>
        </div>
        <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
            <p class="text-2xl md:text-3xl font-title">Eurokrem <span class="text-orange-300">Plazma</span> Banana</p>
            <p class="text-2xl font-bold">300</p>
        </div>
        <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
            <p class="text-2xl md:text-3xl font-title">Eurokrem <span class="text-orange-300">Plazma</span> <span class="text-pink-500">Malina</span></p>
            <p class="text-2xl font-bold">330</p>
        </div>
        <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
            <p class="text-2xl md:text-3xl font-title">Eurokrem <span class="text-orange-300">Plazma</span> Višnja</p>
            <p class="text-2xl font-bold">290</p>
        </div>
        <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
            <p class="text-2xl md:text-3xl font-title">Eurokrem <span class="text-orange-300">Plazma</span> <span class="text-red-400">Jagoda</span></p>
            <p class="text-2xl font-bold">300</p>
        </div>
        <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
            <p class="text-2xl md:text-3xl font-title">Eurokrem <span class="text-orange-300">Plazma</span> Mleko</p>
            <p class="text-2xl font-bold">280</p>
        </div>
        <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
            <p class="text-2xl md:text-3xl font-title">Eurokrem Kokos</p>
            <p class="text-2xl font-bold">260</p>
        </div>
        <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
            <p class="text-2xl md:text-3xl font-title">Eurokrem Puding Vanila</p>
            <p class="text-2xl font-bold">280</p>
        </div>
        <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
            <p class="text-2xl md:text-3xl font-title">Eurokrem Karamel Kikiriki</p>
            <p class="text-2xl font-bold">290</p>
        </div>
        <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
            <p class="text-2xl md:text-3xl font-title">Eurokrem Snickers Puding Vanila</p>
            <p class="text-2xl font-bold">320</p>
        </div>
        <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
            <p class="text-2xl md:text-3xl font-title">Med Orasi Banana</p>
            <p class="text-2xl font-bold">310</p>
        </div>
        <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
            <p class="text-2xl md:text-3xl font-title">Nutela</p>
            <p class="text-2xl font-bold">250</p>
        </div>
        <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
            <p class="text-2xl md:text-3xl font-title">Nutela <span class="text-orange-300">Plazma</span></p>
            <p class="text-2xl font-bold">300</p>
        </div>
        <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
            <p class="text-2xl md:text-3xl font-title">Nutela <span class="text-amber-900">Lešnik</span></p>
            <p class="text-2xl font-bold">330</p>
        </div>
        <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
            <p class="text-2xl md:text-3xl font-title">Nutela Kikiriki</p>
            <p class="text-2xl font-bold">310</p>
        </div>
        <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
            <p class="text-2xl md:text-3xl font-title">Nutela Banana</p>
            <p class="text-2xl font-bold">320</p>
        </div>
        <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
            <p class="text-2xl md:text-3xl font-title">Nutela <span class="text-orange-300">Plazma</span> Banana</p>
            <p class="text-2xl font-bold">360</p>
        </div>
        <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
            <p class="text-2xl md:text-3xl font-title">Nutela <span class="text-orange-300">Plazma</span> <span class="text-pink-500">Malina</span></p>
            <p class="text-2xl font-bold">380</p>
        </div>
        <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
            <p class="text-2xl md:text-3xl font-title">Nutela <span class="text-orange-300">Plazma</span> Višnja</p>
            <p class="text-2xl font-bold">350</p>
        </div>
        <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
            <p class="text-2xl md:text-3xl font-title">Nutela <span class="text-orange-300">Plazma</span> <span class="text-red-400">Jagoda</span></p>
            <p class="text-2xl font-bold">350</p>
        </div>
        <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
            <p class="text-2xl md:text-3xl font-title">Nutela <span class="text-orange-300">Plazma</span> Mleko</p>
            <p class="text-2xl font-bold">320</p>
        </div>
        <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
            <p class="text-2xl md:text-3xl font-title">Nutela Kokos</p>
            <p class="text-2xl font-bold">290</p>
        </div>
        <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
            <p class="text-2xl md:text-3xl font-title">Nutela Puding Vanila</p>
            <p class="text-2xl font-bold">310</p>
        </div>
        <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
            <p class="text-2xl md:text-3xl font-title">Nutela Karamel Kikiriki</p>
            <p class="text-2xl font-bold">340</p>
        </div>
        <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
            <p class="text-2xl md:text-3xl font-title">Nutela Snickers Puding Vanila</p>
            <p class="text-2xl font-bold">350</p>
        </div>
        <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
            <p class="text-2xl md:text-3xl font-title">Nutela <span class="text-orange-300">Plazma</span> Sveža Jagoda </p>
            <p class="text-2xl font-bold">380</p>
        </div>
        <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
            <p class="text-2xl md:text-3xl font-title">Nutela Sveža Jagoda Puding Vanila </p>
            <p class="text-2xl font-bold">380</p>
        </div>
        <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
            <div class="flex flex-row items-center gap-4">
            <p class="text-2xl md:text-3xl font-title">Oreo</p>
            <div class="bg-pink-400 rounded-4xl text-center p-1">
                <p class="uppercase">NOVO</p>
            </div>
            </div>
            <p class="text-2xl font-bold">450</p>
        </div>
        <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
            <div class="flex flex-row items-center gap-4">
            <p class="text-2xl md:text-3xl font-title">Kinder Bueno</p>
            <div class="bg-pink-400 rounded-4xl text-center p-1">
                <p class="uppercase">NOVO</p>
            </div>
            </div>
            <p class="text-2xl font-bold">460</p>
        </div>
        <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
            <div class="flex flex-row items-center gap-4">
            <p class="text-2xl md:text-3xl font-title">Pistaći Krem Puding vanila</p>
            <div class="bg-pink-400 rounded-4xl text-center p-1">
                <p class="uppercase">NOVO</p>
            </div>
            </div>
            <p class="text-2xl font-bold">460</p>
        </div>
        <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
            <div class="flex flex-row items-center gap-4">
            <p class="text-2xl md:text-3xl font-title">Ferrero Rocher</p>
            <div class="bg-pink-400 rounded-4xl text-center p-1">
                <p class="uppercase">NOVO</p>
            </div>
            </div>
            <p class="text-2xl font-bold">480</p>
        </div>
        <div class="flex flex-row justify-between border-t border-b border-black py-4 md:py-8">
            <div class="flex flex-row items-center gap-4">
            <p class="text-2xl md:text-3xl font-title">Dubai</p>
            <div class="bg-pink-400 rounded-4xl text-center p-1">
                <p class="uppercase">NOVO</p>
            </div>
            </div>
            <p class="text-2xl font-bold">490</p>
        </div>
  </div>
</section>
<section id="slane" class="sekcija pt-16 md:container md:mx-auto mx-8 my-12">
  <div class="flex justify-center text-center flex-col space-y-0 mb-8"><!--MAIN TEXT-->
    <span class="font-bold text-4xl text-blue text-stroke ">NAJ <span class="font-bold text-4xl text-rose">NAJ</span></span>
    <span class="font-bold text-gray-500 text-7xl text-stroke">SLANE</span>
    <span class="font-bold text-4xl  text-blue text-stroke  ">PALAČINKE</span>
  </div>
  <div class="flex flex-row justify-between py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Šunka Kačkavalj Pavlaka</p>
    <p class="text-2xl font-bold">340</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Šunka Kačkavalj Pileća salata</p>
    <p class="text-2xl font-bold">380</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Šunka Kačkavalj Ruska salata</p>
    <p class="text-2xl font-bold">380</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Šunka Kačkavalj Urnebes salata</p>
    <p class="text-2xl font-bold">370</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Šunka Kačkavalj Salata od pečurki</p>
    <p class="text-2xl font-bold">390</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Šunka Kačkavalj Susam salata</p>
    <p class="text-2xl font-bold">370</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Pečenica Kačkavalj Pavlaka</p>
    <p class="text-2xl font-bold">370</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Pečenica Kačkavalj Pileća salata</p>
    <p class="text-2xl font-bold">390</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Pečenica Kačkavalj Ruska salata</p>
    <p class="text-2xl font-bold">390</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Pečenica Kačkavalj Urnebes salata</p>
    <p class="text-2xl font-bold">380</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Pečenica Kačkavalj Salata od pečurki</p>
    <p class="text-2xl font-bold">390</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Pečenica Kačkavalj Susam salata</p>
    <p class="text-2xl font-bold">380</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Suvi vrat Kačkavalj Pavlaka</p>
    <p class="text-2xl font-bold">400</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Suvi vrat Kačkavalj Pileća salata</p>
    <p class="text-2xl font-bold">440</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Suvi vrat Kačkavalj Ruska salata</p>
    <p class="text-2xl font-bold">440</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Suvi vrat Kačkavalj Urnebes salata</p>
    <p class="text-2xl font-bold">430</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Suvi vrat Kačkavalj Salata od pečurki</p>
    <p class="text-2xl font-bold">450</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Suvi vrat Kačkavalj Susam salata</p>
    <p class="text-2xl font-bold">430</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Kulen Kačkavalj Pavlaka</p>
    <p class="text-2xl font-bold">390</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Kulen Kačkavalj Pileća salata</p>
    <p class="text-2xl font-bold">430</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Kulen Kačkavalj Ruska salata</p>
    <p class="text-2xl font-bold">430</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Kulen Kačkavalj Urnebes salata Jaje</p>
    <p class="text-2xl font-bold">450</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Kulen Kačkavalj Salata od pečurki</p>
    <p class="text-2xl font-bold">440</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Kulen Kačkavalj Susam salata</p>
    <p class="text-2xl font-bold">420</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Kulen Kačkavalj Pileća salata Jaje</p>
    <p class="text-2xl font-bold">470</p>
  </div>
  <div class="flex flex-row justify-between border-t border-b border-black py-4 md:py-8">
    <div class="flex flex-row gap-6 items-center">
      <p class="text-2xl md:text-3xl font-title">Tunjevina Masline Kečap</p>
      <div class="bg-green-400 rounded-4xl text-center p-1">
        <p class="uppercase font-secondary">posno</p>
      </div>
    </div>
    <p class="text-2xl font-bold">480</p>
  </div>
  <div class="flex flex-row justify-between border-t border-b border-black py-4 md:py-8">
    <div class="flex flex-row gap-3 items-center">
      <img src="/static/image/najnajlogobezpoz 1.png" alt="logo" class="w-20">
      <p class="text-2xl md:text-3xl font-title">NAJ NAJ (pecenica,suvi vrat,kackavalj,sir,ajvar,jaje)</p>
    </div>
    <p class="text-2xl font-bold">580</p>
  </div>
</section>
<section id="tea" class="sekcija pt-16 md:container md:mx-auto mx-8 my-12">
  <div class="flex justify-center text-center flex-col space-y-0 mb-8"><!--MAIN TEXT-->
    <span class="font-bold text-4xl text-blue text-stroke ">NAJ <span class="font-bold text-4xl text-rose">NAJ</span></span>
    <span class="font-bold text-gray-500 text-7xl text-stroke">BUBBLE</span>
    <span class="font-bold text-4xl text-stroke text-rose">TEA</span>
  </div>
  <div class="flex flex-row justify-between border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Bubble Tea 0,5l (caj)</p>
    <p class="text-2xl font-bold">330</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Bubble Milk 0,5l (mleko)</span></p>
    <p class="text-2xl font-bold">380</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Dodatak boba</span></p>
    <p class="text-2xl font-bold">60</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Dodatak sirup</span></p>
    <p class="text-2xl font-bold">50</p>
  </div>
  <div class="flex flex-col border-t border-black py-4 md:py-8">
    <p class="text-center text-2xl mb-6">Ukusi </p>
    <div class="text-center grid grid-cols-2 text-xl">
      <p class="text-red-400">Jagoda</p>
      <p class="text-orange-700">Breskva</p>
      <p class="text-green-400">Jabuka</p>
      <p class="text-yellow-300">Ananas</p>
      <p class="text-green-700">Lubenica</p>
      <p class="text-rose-400">Malina</p>
      <p class="text-blue">Secerna vuna</p>
      <p class="text-orange-400">Mango</p>
      <p class="text-purple-500">Borovnica</p>
      <p class="text-amber-300">Banana</p>
      <p class="text-orange-900">Cokolada</p>
      <p class="text-green-900">Kivi</p>
      <p class="text-blue-900">Plava pomorandza</p>
      <p class="text-purple-400">Sumsko voce</p>
    </div>

  </div>

  </div>
</section>
<section id="waffle" class="sekcija pt-16 md:container md:mx-auto mx-8 my-12">
  <div class="flex justify-center text-center flex-col space-y-0 mb-8"><!--MAIN TEXT-->
    <span class="font-bold text-4xl text-blue text-stroke ">NAJ <span class="font-bold text-4xl text-rose">NAJ</span></span>
    <span class="font-bold text-gray-500 text-7xl text-stroke">BUBBLE</span>
    <span class="font-bold text-4xl text-stroke text-rose">WAFFLE</span>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
        <p class="text-2xl md:text-3xl font-title">Eurokrem <span class="text-orange-300">Plazma</span> Banana</p>
        <p class="text-2xl font-bold">350</p>
    </div>
    <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
        <p class="text-2xl md:text-3xl font-title">Eurokrem <span class="text-orange-300">Plazma</span> <span class="text-pink-500">Malina</span></p>
        <p class="text-2xl font-bold">360</p>
    </div>
    <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
        <p class="text-2xl md:text-3xl font-title">Eurokrem <span class="text-orange-300">Plazma</span> Višnja</p>
        <p class="text-2xl font-bold">340</p>
    </div>
    <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
        <p class="text-2xl md:text-3xl font-title">Eurokrem <span class="text-orange-300">Plazma</span> <span class="text-red-400">Jagoda</span></p>
        <p class="text-2xl font-bold">350</p>
    </div>
    <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
        <p class="text-2xl md:text-3xl font-title">Eurokrem <span class="text-orange-300">Plazma</span> Mleko</p>
        <p class="text-2xl font-bold">340</p>
    </div>
    <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
        <p class="text-2xl md:text-3xl font-title">Nutela <span class="text-orange-300">Plazma</span> Banana</p>
        <p class="text-2xl font-bold">390</p>
    </div>
    <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
        <p class="text-2xl md:text-3xl font-title">Nutela <span class="text-orange-300">Plazma</span> <span class="text-pink-500">Malina</span></p>
        <p class="text-2xl font-bold">400</p>
    </div>
    <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
        <p class="text-2xl md:text-3xl font-title">Nutela <span class="text-orange-300">Plazma</span> Višnja</p>
        <p class="text-2xl font-bold">380</p>
    </div>
    <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
        <p class="text-2xl md:text-3xl font-title">Nutela <span class="text-orange-300">Plazma</span> <span class="text-red-400">Jagoda</span></p>
        <p class="text-2xl font-bold">390</p>
    </div>
    <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
        <p class="text-2xl md:text-3xl font-title">Nutela <span class="text-orange-300">Plazma</span> Mleko</p>
        <p class="text-2xl font-bold">390</p>
    </div>
    <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
        <p class="text-2xl md:text-3xl font-title">Nutela Karamel Kikiriki</p>
        <p class="text-2xl font-bold">410</p>
    </div>
    <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
        <div class="flex flex-row items-center gap-4">
            <p class="text-2xl md:text-3xl font-title">Kinder Bueno</p>
            <div class="bg-pink-400 rounded-4xl text-center p-1">
                <p class="uppercase font-bold font-secondary text-white">novo</p>
            </div>
        </div>
        <p class="text-2xl font-bold">520</p>
    </div>
    <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
        <div class="flex flex-row items-center gap-4">
            <p class="text-2xl md:text-3xl font-title">Ferrero Rocher</p>
            <div class="bg-pink-400 rounded-4xl text-center p-1">
                <p class="uppercase font-secondary font-bold text-white">novo</p>
            </div>
        </div>
        <p class="text-2xl font-bold">520</p>
    </div>
    <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
        <div class="flex flex-row items-center gap-4">
            <p class="text-2xl md:text-3xl font-title">Oreo</p>
            <div class="bg-pink-400 rounded-4xl text-center p-1">
                <p class="uppercase font-secondary font-bold text-white">novo</p>
            </div>
        </div>
        <p class="text-2xl font-bold">520</p>
    </div>

</section>
<section id="sendvici" class="sekcija pt-16 md:container md:mx-auto mx-8 my-12">
  <div class="flex justify-center text-center flex-col space-y-0 mb-8"><!--MAIN TEXT-->
    <span class="font-bold text-4xl text-blue text-stroke">NAJ <span class="font-bold text-4xl text-rose">NAJ</span></span>
    <span class="font-bold text-gray-500 text-7xl text-stroke">SENDVIČI</span>
  </div>
  <div class="flex flex-row justify-between py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Hot dog 🌭</p>
    <p class="text-2xl font-bold">220</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Šunka Kačkavalj Pavlaka</p>
    <p class="text-2xl font-bold">340</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Šunka Kačkavalj Pileća salata</p>
    <p class="text-2xl font-bold">380</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Šunka Kačkavalj Ruska salata</p>
    <p class="text-2xl font-bold">380</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Šunka Kačkavalj Urnebes salata</p>
    <p class="text-2xl font-bold">370</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Šunka Kačkavalj Salata od pečurki</p>
    <p class="text-2xl font-bold">390</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Šunka Kačkavalj Susam salata</p>
    <p class="text-2xl font-bold">370</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Pečenica Kačkavalj Pavlaka</p>
    <p class="text-2xl font-bold">370</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Pečenica Kačkavalj Pileća salata</p>
    <p class="text-2xl font-bold">390</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Pečenica Kačkavalj Ruska salata</p>
    <p class="text-2xl font-bold">390</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Pečenica Kačkavalj Urnebes salata</p>
    <p class="text-2xl font-bold">380</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Pečenica Kačkavalj Salata od pečurki</p>
    <p class="text-2xl font-bold">390</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Pečenica Kačkavalj Susam salata</p>
    <p class="text-2xl font-bold">380</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Suvi vrat Kačkavalj Pavlaka</p>
    <p class="text-2xl font-bold">400</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Suvi vrat Kačkavalj Pileća salata</p>
    <p class="text-2xl font-bold">440</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Suvi vrat Kačkavalj Ruska salata</p>
    <p class="text-2xl font-bold">440</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Suvi vrat Kačkavalj Urnebes salata</p>
    <p class="text-2xl font-bold">430</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Suvi vrat Kačkavalj Salata od pečurki</p>
    <p class="text-2xl font-bold">450</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Suvi vrat Kačkavalj Susam salata</p>
    <p class="text-2xl font-bold">430</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Kulen Kačkavalj Pavlaka</p>
    <p class="text-2xl font-bold">390</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Kulen Kačkavalj Pileća salata</p>
    <p class="text-2xl font-bold">430</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Kulen Kačkavalj Ruska salata</p>
    <p class="text-2xl font-bold">430</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Kulen Kačkavalj Urnebes salata</p>
    <p class="text-2xl font-bold">450</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Kulen Kačkavalj Salata od pečurki</p>
    <p class="text-2xl font-bold">440</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Kulen Kačkavalj Susam salata</p>
    <p class="text-2xl font-bold">420</p>
  </div>
  <div class="flex flex-row justify-between border-t border-b border-black py-4 md:py-8">
    <div class="flex flex-row gap-6 items-center">
      <p class="text-2xl md:text-3xl font-title">Tunjevina Masline Kečap</p>
      <div class="bg-green-400 rounded-4xl text-center p-1">
        <p class="uppercase font-secondary">posno</p>
      </div>
    </div>
    <p class="text-2xl font-bold">480</p>
  </div>
  <div class="flex flex-row justify-between border-t border-b border-black py-4 md:py-8">
    <div class="flex flex-row gap-3 items-center">
      <img src="/static/image/najnajlogobezpoz 1.png" alt="logo" class="w-20">
      <p class="text-2xl md:text-3xl font-title">NAJ NAJ (pecenica,suvi vrat,kackavalj,sir,ajvar,jaje)</p>
    <p class="text-2xl font-bold">580</p>
  </div>
</section>

<section id="sendvici" class="sekcija pt-16 md:container md:mx-auto mx-8 my-12">
  <div class="flex justify-center text-center flex-col space-y-0 mb-8"><!--MAIN TEXT-->
    <span class="font-bold text-4xl text-blue text-stroke">PICA <span class="font-bold text-4xl text-rose">I</span></span>
    <span class="font-bold text-gray-500 text-7xl text-stroke">OSTALO</span>
  </div>
  <div class="flex flex-row justify-between py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Hot dog 🌭</p>
    <p class="text-2xl font-bold">220</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Šunka Kačkavalj Pavlaka</p>
    <p class="text-2xl font-bold">340</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Šunka Kačkavalj Pileća salata</p>
    <p class="text-2xl font-bold">380</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Šunka Kačkavalj Ruska salata</p>
    <p class="text-2xl font-bold">380</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Šunka Kačkavalj Urnebes salata</p>
    <p class="text-2xl font-bold">370</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Šunka Kačkavalj Salata od pečurki</p>
    <p class="text-2xl font-bold">390</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Šunka Kačkavalj Susam salata</p>
    <p class="text-2xl font-bold">370</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Pečenica Kačkavalj Pavlaka</p>
    <p class="text-2xl font-bold">370</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Pečenica Kačkavalj Pileća salata</p>
    <p class="text-2xl font-bold">390</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Pečenica Kačkavalj Ruska salata</p>
    <p class="text-2xl font-bold">390</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Pečenica Kačkavalj Urnebes salata</p>
    <p class="text-2xl font-bold">380</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Pečenica Kačkavalj Salata od pečurki</p>
    <p class="text-2xl font-bold">390</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Pečenica Kačkavalj Susam salata</p>
    <p class="text-2xl font-bold">380</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Suvi vrat Kačkavalj Pavlaka</p>
    <p class="text-2xl font-bold">400</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Suvi vrat Kačkavalj Pileća salata</p>
    <p class="text-2xl font-bold">440</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Suvi vrat Kačkavalj Ruska salata</p>
    <p class="text-2xl font-bold">440</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Suvi vrat Kačkavalj Urnebes salata</p>
    <p class="text-2xl font-bold">430</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Suvi vrat Kačkavalj Salata od pečurki</p>
    <p class="text-2xl font-bold">450</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Suvi vrat Kačkavalj Susam salata</p>
    <p class="text-2xl font-bold">430</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Kulen Kačkavalj Pavlaka</p>
    <p class="text-2xl font-bold">390</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Kulen Kačkavalj Pileća salata</p>
    <p class="text-2xl font-bold">430</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Kulen Kačkavalj Ruska salata</p>
    <p class="text-2xl font-bold">430</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Kulen Kačkavalj Urnebes salata</p>
    <p class="text-2xl font-bold">450</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Kulen Kačkavalj Salata od pečurki</p>
    <p class="text-2xl font-bold">440</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Kulen Kačkavalj Susam salata</p>
    <p class="text-2xl font-bold">420</p>
  </div>
  <div class="flex flex-row justify-between border-t border-b border-black py-4 md:py-8">
    <div class="flex flex-row gap-6 items-center">
      <p class="text-2xl md:text-3xl font-title">Tunjevina Masline Kečap</p>
      <div class="bg-green-400 rounded-4xl text-center p-1">
        <p class="uppercase font-secondary">posno</p>
      </div>
    </div>
    <p class="text-2xl font-bold">480</p>
  </div>
  <div class="flex flex-row justify-between border-t border-b border-black py-4 md:py-8">
    <div class="flex flex-row gap-3 items-center">
      <img src="/static/image/najnajlogobezpoz 1.png" alt="logo" class="w-20">
      <p class="text-2xl md:text-3xl font-title">NAJ NAJ (pecenica,suvi vrat,kackavalj,sir,ajvar,jaje)</p>
    <p class="text-2xl font-bold">580</p>
  </div>
</section>

{% endblock %}
