{% extends "base.html" %} 
{% block content %}

<section id="slatke" class="sekcija md:container md:mx-auto mx-8 ">
    <div class="flex flex-col">
        <div class="flex justify-center text-center flex-col space-y-0 py-12"><!--MAIN TEXT-->
            <span class="font-bold text-4xl text-blue text-stroke ">NAJ <span class="font-bold text-4xl text-rose">NAJ</span></span>
            <span class="font-bold text-gray-500 text-7xl text-stroke">SLATKE</span>
            <span class="font-bold text-4xl text-rose text-stroke ">PALAČINKE</span>
        </div>
        <!--PONUDA-->
        <div>
          <img src="/static/image/ponuda_slatke.png" alt="ponuda_slatke">
        </div>
</section>
<section id="slane" class="sekcija pt-16 md:container md:mx-auto mx-8 my-12">
  <div class="flex justify-center text-center flex-col space-y-0 mb-8"><!--MAIN TEXT-->
    <span class="font-bold text-4xl text-blue text-stroke ">NAJ <span class="font-bold text-4xl text-rose">NAJ</span></span>
    <span class="font-bold text-gray-500 text-7xl text-stroke">SLANE</span>
    <span class="font-bold text-4xl  text-blue text-stroke  ">PALAČINKE</span>
  </div>
  <div>
    <img src="/static/image/slane_ponuda.png" alt="">
  </div>
  
</section>
<section id="tea" class="sekcija pt-16 md:container md:mx-auto mx-8 my-12">
  <div class="flex justify-center text-center flex-col space-y-0 mb-8"><!--MAIN TEXT-->
    <span class="font-bold text-4xl text-blue text-stroke ">NAJ <span class="font-bold text-4xl text-rose">NAJ</span></span>
    <span class="font-bold text-gray-500 text-7xl text-stroke">BUBBLE</span>
    <span class="font-bold text-4xl text-stroke text-rose">TEA</span>
  </div>
  <div class="flex flex-row justify-between border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Bubble Tea 0,5l (caj)</p>
    <p class="text-2xl font-bold">330</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Bubble Milk 0,5l (mleko)</span></p>
    <p class="text-2xl font-bold">380</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Dodatak boba</span></p>
    <p class="text-2xl font-bold">60</p>
  </div>
  <div class="flex flex-row justify-between border-t border-black py-4 md:py-8">
    <p class="text-2xl md:text-3xl font-title">Dodatak sirup</span></p>
    <p class="text-2xl font-bold">50</p>
  </div>
  <div class="flex flex-col border-t border-black py-4 md:py-8">
    <p class="text-center mb-6 text-5xl">Ukusi </p>
    <div class="text-center grid grid-cols-2 text-2xl md:text-3xl lg:text-4xl">
      <p class="text-red-400">Jagoda</p>
      <p class="text-orange-700">Breskva</p>
      <p class="text-green-400">Jabuka</p>
      <p class="text-yellow-300">Ananas</p>
      <p class="text-green-700">Lubenica</p>
      <p class="text-rose-400">Malina</p>
      <p class="text-blue">Secerna vuna</p>
      <p class="text-orange-400">Mango</p>
      <p class="text-purple-500">Borovnica</p>
      <p class="text-amber-300">Banana</p>
      <p class="text-orange-900">Cokolada</p>
      <p class="text-green-900">Kivi</p>
      <p class="text-blue-900">Plava pomorandza</p>
      <p class="text-purple-400">Sumsko voce</p>
    </div>

  </div>

  </div>
</section>
<section id="waffle" class="sekcija pt-16 md:container md:mx-auto mx-8 my-12">
  <div class="flex justify-center text-center flex-col space-y-0 mb-8"><!--MAIN TEXT-->
    <span class="font-bold text-4xl text-blue text-stroke ">NAJ <span class="font-bold text-4xl text-rose">NAJ</span></span>
    <span class="font-bold text-gray-500 text-7xl text-stroke">BUBBLE</span>
    <span class="font-bold text-4xl text-stroke text-rose">WAFFLE</span>
  </div>
  <div>
    <img src="/static/image/wafli_ponuda.png" alt="">
  </div>

</section>
<section id="sendvici" class="sekcija pt-16 md:container md:mx-auto mx-8 my-12">
  <div class="flex justify-center text-center flex-col space-y-0 mb-8"><!--MAIN TEXT-->
    <span class="font-bold text-4xl text-blue text-stroke">NAJ <span class="font-bold text-4xl text-rose">NAJ</span></span>
    <span class="font-bold text-gray-500 text-7xl text-stroke">SENDVIČI</span>
  </div>
  <div>
    <img src="/static/image/sendvici_ponuda.png" alt="">
  </div>
</section>

<section id="napici" class="sekcija pt-16 md:container md:mx-auto mx-8 my-12">
  <div class="flex justify-center text-center flex-col space-y-0 mb-8"><!--MAIN TEXT-->
    <span class="font-bold text-4xl text-blue text-stroke">PICA <span class="font-bold text-4xl text-rose">I</span></span>
    <span class="font-bold text-gray-500 text-7xl text-stroke">OSTALO</span>
  </div>

  <div>
    <img src="/static/image/Pica (4).png" alt="Pica">
  </div>
</section>

{% endblock %}
